* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    margin-top: 47px;
    margin-left: 42px;
    margin-bottom: 100px;
}

.link-header {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #17233D;
    cursor: pointer;
    margin-right: 32px;
}

.button-header {
    width: 124px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.img-logo {
    width: 595.18px;
    height: 500px;
    margin-left: 120px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 71px;
}

h1 {
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    text-align: left;
    margin-bottom: 47px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 500px;
    margin-bottom: 55px;
}

.link-ler-mais {
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}